@import url('https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap');

:root {
    --main-color: #5a45b0;
    --text-color: #121212;
}

body {
    font-family: 'Overpass', sans-serif;
    background-image: url('../img/background-mask.svg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
}

.site-header {
    padding: 30px;
}

.site-header .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-header h1 {
    color: #ffff;
}
.site-header a {
    color: #ffff;
    transition: all ease-in-out 0.15s;
}

.site-header img {
    width: 30px;
    height: auto;
    display: none;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    margin: 0 15px;
}

.site-header a:hover {
    text-decoration: none;
}

.header-wrapper {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

main .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .note-container {
    flex: 0 1 330px;
    margin: 10px;
    padding: 10px 15px;
    background: #f6f7fb;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.11);
    color: var(--text-color);
}

.note-container .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-container p {
    font-size: 15px;
}

.note-header .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-btn:hover #delete > path {
    fill: #f53131;
}

.note-header #delete > path {
    fill: #b4b4c0;
    transition: fill ease-in-out 0.15s;
}

#open-sidebar {
    background: var(--main-color);
    border: none;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    color: #ffff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 29px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.15s;
    z-index: 2;
    outline: none;
}

#open-sidebar path {
    fill: #ffff;
}

#open-sidebar svg {
    transition: all ease-in-out 0.15s;
}

#open-sidebar:hover {
    background:rgba(90, 69, 176, 0.89)
}

.sidebar {
    background: #fcfcfc;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.25s;
    z-index: 3;
}

.sidebar h6 {
    color: var(--text-color);
}

@media (max-width: 450px) {
    .sidebar {
        width: auto;
    }
    .container .note-container {
       flex-grow: 1; 
    }
    body {
        background-size: 150%;
    }
}

.sidebar-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0, 0.3);
    z-index: 1;
    display: none;
    opacity: 0;
    transition: all ease-in-out 0.25s;
}

.sidebar-mask-open {
    display: block;
    opacity: 1;
}

.sidebar h6 {
    font-size: 20px;
    margin: 0;
    padding: 30px 0;
    border-bottom: 1px solid #f6f7fb;
}

.open {
    transform: translateX(0);
}

.rotate svg {
    transform: rotate(45deg);
}

.sidebar .new-note-form {
    display: flex;
    flex-direction: column;
}

.sidebar .new-note-form input[type="text"], textarea {
    margin-top: 20px;
    padding: 20px 10px;
    background: none;
    border: none;
    outline: none;
}

.sidebar .new-note-form textarea {
    resize: none;
    height: 200px;
    overflow-y: inherit;
}

.sidebar .new-note-form input[type="submit"] {
    align-self: flex-end;
    background: var(--main-color);
    border: none;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    color: #ffff;
    cursor: pointer;
    padding: 10px 5px;
    font-size: 14px;
    transition: all ease-in 0.15s;
}

.sidebar .new-note-form input[type="submit"]:hover {
    background:  rgba(90, 69, 176, 0.89)
}