@import url('https://fonts.googleapis.com/css?family=Overpass:400,700&display=swap');

:root {
    --main-color: #5a45b0;
    --text-color: #0f0f0f;
}

body {
    font-family: 'Overpass', sans-serif;
}

.site-header {
    /* background: var(--main-color); */
    padding: 30px;
}
.site-header h1 {
    color: var(--text-color);
}
.site-header a {
    color: var(--text-color);
    margin-left: 20px;
    transition: color ease-in-out 0.15s;
}

.site-header a:hover {
    color: var(--main-color);
}

.header-wrapper {
    max-width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

main .container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.container .note-container {
    flex: 1 1 350px;
    margin: 10px;
    padding: 10px 15px;
    /* width: 350px; */
    background: #f6f7fb;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

.note-container .note-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note-container p {
    font-size: 15px;
}

.note-header .delete-btn {
    background: none;
    border: none;
    cursor: pointer;
}

.delete-btn:hover #delete > path {
    fill: #f53131;
}

.note-header #delete > path {
    fill: #b4b4c0;
    transition: fill ease-in-out 0.15s;
}

#open-sidebar {
    background: var(--main-color);
    border: none;
    border-radius: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    color: #ffff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 29px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.15s;
}

#open-sidebar:hover {
    background: #f6f7fb;
    color: var(--main-color);
}

.sidebar {
    background: grey;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: transform ease-in-out 0.2s;
}

/* .sidebar.open::after {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0,0,0, 0.3);
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 0;
} */

.open {
    transform: translateX(0);
}

.sidebar .new-note-form {
    display: flex;
    flex-direction: column;
}

.sidebar .new-note-form input[type="text"] {
    margin-top: 20px;
    padding: 10px 5px;
}